
body {
  background-color: #000000;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

input, select, textarea {
  background-color: #303030;
  color: #FFFFFF;
  border: 1px solid #666666;
}

button, input[type="button"], input[type="submit"], input[type="reset"], .button {
  background-color: #222222;
  color: #FFFFFF;
  border: 1px solid #666666;
}

.navbar {
  background-color: #000000;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
}
.footer p {
  font-size: 16px;
  color: #FFFFFF;
   margin: 17px 0 0 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
 
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 33; /* set the opacity of the image */
}
.branding {
  text-align: center;
  font-size: 12px;
font-family: 'Roboto Mono', monospace;
  letter-spacing: 22px;
}
