
body {
  background-color: #000000;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

input, select, textarea {
  background-color: #303030;
  color: #FFFFFF;
  border: 1px solid #666666;
}

button, input[type="button"], input[type="submit"], input[type="reset"], .button {
  background-color: #222222;
  color: #FFFFFF;
  border: 1px solid #666666;
}

.navbar {
  background-color: #000000;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
}
.footer p {
  font-size: 16px;
  color: #FFFFFF;
   margin: 17px 0 0 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
 
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 33; /* set the opacity of the image */
}
.branding {
  text-align: center;
  font-size: 12px;
  font-family: 'Rufina', serif;
   letter-spacing: 1px;
}
h2 {
  position: absolute;
  bottom: 60px;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  opacity: 0.7;
}
.btn {
  background-color: transparent;
  border: 2px solid #FFFFFF; /* white border */
  color: #FFFFFF; /* white text */
  padding: 11px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 3px;
  cursor: pointer;
  border-radius: 24px;
  font-family: 'Roboto Mono', monospace;
   position: absolute;
  top: 100px; /* adjust top position as needed */
  
}

/* Adjusts button appearance when hovering over it */
.btn:hover {
  background-color: #FFFFFF; /* white background */
  color: #0077CC; /* blue text */
  transition: all 0.2s ease-in-out;
}
