body {
  background-color: #000000;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

input, select, textarea {
  background-color: #303030;
  color: #FFFFFF;
  border: 1px solid #666666;
}

button, input[type="button"], input[type="submit"], input[type="reset"], .button {
  background-color: #222222;
  color: #FFFFFF;
  border: 1px solid #666666;
}

.navbar {
  background-color: #000000;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
}

.footer p {
  font-size: 16px;
  color: #FFFFFF;
  margin: 17px 0 0 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.33; /* set the opacity of the image */
}

.branding {
  text-align: center;
  font-size: 2vw; /* Adjust the font size using viewport units */
  font-family: 'Rufina', serif;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5vw; /* Adjust the font size using viewport units */
  opacity: 0.7;
}

.btn {
  background-color: transparent;
  border: 0.5vw solid #00FFFF; /* Adjust the border size using viewport units */
  color: #FFFFFF; /* white text */
  padding: 1vw 3vw; /* Adjust the padding using viewport units */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw; /* Adjust the font size using viewport units */
  margin: 0.5vw 1vw; /* Adjust the margin using viewport units */
  cursor: pointer;
  border-radius: 24px;
  font-family: 'Roboto Mono', monospace;
  bottom: 5vh; /* Adjust the bottom position using viewport units */
}

/* Adjusts button appearance when hovering over it */
.btn:hover {
  background-color: #FFFFFF; /* white background */
  color: #0077CC; /* blue text */
  transition: all 0.2s ease-in-out;
}

.btn-secondary {
  background-color: transparent;
  border: 0.5vw solid #00FFFF; /* Adjust the border size using viewport units */
  color: #FFFFFF; /* white text */
  padding: 1vw 3vw; /* Adjust the padding using viewport units */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw; /* Adjust the font size using viewport units */
  margin: 0.5vw 1vw; /* Adjust the margin using viewport units */
  cursor: pointer;
  border-radius:
24px;
  font-family: 'Roboto Mono', monospace;
}

h4 {
  color: #00FFFF;
}

/* Media Queries for Responsive Styles */

@media (max-width: 768px) {
  .branding {
    font-size: 3vw; /* Adjust the font size using viewport units */
  }

  h2 {
    font-size: 2vw; /* Adjust the font size using viewport units */
  }

  .btn, .btn-secondary {
    font-size: 2vw; /* Adjust the font size using viewport units */
    margin: 2vw 4vw; /* Adjust the margin using viewport units */
  }
}

@media (max-width: 480px) {
  .branding {
    font-size: 4vw; /* Adjust the font size using viewport units */
  }

  h2 {
    font-size: 3vw; /* Adjust the font size using viewport units */
  }

  .btn, .btn-secondary {
    font-size: 3vw; /* Adjust the font size using viewport units */
    margin: 3vw 6vw; /* Adjust the margin using viewport units */
  }
}
