
body {
  background-color: #000000;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

input, select, textarea {
  background-color: #303030;
  color: #FFFFFF;
  border: 1px solid #666666;
}

button, input[type="button"], input[type="submit"], input[type="reset"], .button {
  background-color: #222222;
  color: #FFFFFF;
  border: 1px solid #666666;
}

.navbar {
  background-color: #000000;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
}
header {
  background-image: url('/headerbackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5; /* set the opacity of the image */
}

