
body {
  background-color: #000000;
  color: #FFFFFF;
   background-image: url('/headerbackground.png');
}

a {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

input, select, textarea {
  background-color: #303030;
  color: #FFFFFF;
  border: 1px solid #666666;
}

button, input[type="button"], input[type="submit"], input[type="reset"], .button {
  background-color: #222222;
  color: #FFFFFF;
  border: 1px solid #666666;
}

.navbar {
  background-color: #000000;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
}

